#header {
  // position: fixed;
  // width: 100%;
  // top: 0;
  // background-color: #fff;
  // margin: 0 auto !important;
  // z-index: 80;
  @include breakpoints-down(sm) {
    position: static;
  }
  .header-1 {
    padding: 20px 0;
    display: flex !important;
    justify-content: space-between;
    align-items: center;

    .head-left {
      width: 40%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      
    }

    .head-right {
      display: flex;
      justify-content: center;
      align-items: center;

      .cart {
        padding: 5px 10px;
        border: 1px solid #ebe8e8;
        border-radius: 5px;
      }

      .btn-login {
        padding: 8px 10px;
        border: 1px solid #ebe8e8;
        border-radius: 5px;
        margin-left: 20px;
        font-size: 14px;
      }
    }
  }

  .header-2 {
    .steps {
      h3 {
        font-size: 16px;
        font-weight: normal;
        a {
          color: #00A5CF;
          text-decoration: none;
        }
      }
    }
  }
}

.search {
  width: 60%;
  @include breakpoints-down(sm) {
    width: 100%;
  }
  outline: auto;
  padding: 5px 10px;
  color: #ececec;
  text-align: center;

  input {
    width: 100%;
    &:focus {
      outline: none;
      &::placeholder {
        text-align: left;
      }
    }
    &::placeholder {
      text-align: center;
      font-size: 14px;
      color: #d3d1d1;
    }
  }
}